<div class="tab-pane fade" id="limits" role="tabpanel">
    {% for config, val in {
        "容器数量": ("MaxPodCount", "集群的最大容器载荷"),
        "容器重启次数": ("MaxPodRenewCount", "用户重启容器的次数"),
        "容器销毁时间": ("MaxPodLivingTime", "容器持续时间"),
    }.items() %}
        {% set value = get_config('BerNet:' + val[0]) %}
        <div class="form-group">
            <label for="{{ val[0].replace('_', '-') }}">
                {{ config }}
                <small class="form-text text-muted">
                    {{ val[1] }}
                </small>
            </label>
            <input type="text" class="form-control"
                   id="{{ val[0].replace('_', '-') }}" name="{{ 'BerNet:' + val[0] }}"
                   {% if value != None %}value="{{ value }}"{% endif %}>
        </div>
    {% endfor %}

    <div class="submit-row float-right">
        <button type="submit" tabindex="0" class="btn btn-md btn-primary btn-outlined">
            Submit
        </button>
    </div>
</div>